<!DOCTYPE html>
<html>
    <head>
        <title>Addition</title>
    </head>
    <body>
        <form action="{{ url_for('perform_calculation', op='add',dt=123, mt=89) }}" method="POST">
            <div>
                <input type="number" name="num1" placeholder="Number 1"/>
            </div>
            <div>
                <input type="number" name="num2" placeholder="Number 2"/>
            </div>
            <div>
                <input type="submit" value="Add"/>
                <input type="submit" value="Sub"/>
                <input type="submit" value="Mul"/>
                <input type="submit" value="Div"/>
            </div>
            
        </form>
    </body>
</html>