<!DOCTYPE html>
<html>
    <head>
        <title>Calculation</title>
    </head>
    <body>
        {% if op == 'add' %}
        <div>
            Addition of Two Numbers is {{result}}
        </div>
        {% elif op == 'sub'%}
        <div>
            Subtraction of Two Numbers is {{result}}
        </div>
        {% elif op == 'mul'%}
        <div>
            Multiplication of Two Numbers is {{result}}
        </div>
        {% else %}<div>
            Multiplication of Two Numbers is {{result}}
        </div>
        {% endif %}
    </body>
</html>