<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="{{url_for('dashboard')}}" method="POST">
            <div>
                <input type="text" name="username" placeholder="User Name"/>
            </div>
            <div>
                <input type="text" name="password" placeholder="Password"/>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </body>
</html>