<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Layout Basics</title>
        <link rel="stylesheet" href="basics.css">
    </head>

    <body>
        <div class="parent">
            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

            <div class="box"></div>

        </div>
    </body>

</html>