<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>80 20 Partition</title>
        <link rel="stylesheet" href="demo1.css">
    </head>

    <body>
        <div class="outer">
            <div class="max-cont">
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
                <div class="round">
                    Here is some text in circle
                </div>
            </div>
            <div class="min-cont"></div>
        </div>
    </body>

</html>