body {
    width: 100vw;
    height: 100vh;
}

.outer {
    display: flex;
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
}
.max-cont {
    /* width: 80%; */
    flex-basis : 80%;
    flex-wrap: wrap;
    border: 1px solid red;
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: space-evenly;
}
.min-cont {
    /* width: 20%; */
    flex-basis : 20%;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;

    height: 100%;
}

.round {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    border: 1px solid red;
}

.cnt-ev {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}