body {
    width: 100vw;
    height: 100vh;
}
.box {
    background-color: darkblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width : 350px){
    .container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 3px;
    }
}

@media screen and (min-width : 800px){
    .container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 3px;
    }
}

@media screen and (min-width : 1024px) {
    .container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        gap: 3px;
    }
}

